@font-face {
    font-family: typewriter;
    src: url(./font/jmh_typewriter/JMH\ Typewriter-Bold.otf);
}

:root {
    --background: #091413;
    --subBackground: #285A48;
    --accent: #408A71;
    --text: #B0E4CC;
}

* {
    font-family: 'typewriter';
    box-sizing: border-box;
}

html {
    height: 100%;
    width: auto;
}

body {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    background: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
.header {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 5px 0 var(--accent);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.heading {
    color: var(--text);
    font-size: 36px;
}

/* ADD BUTTON CONTAINER */
.addBookContainer {
    margin: 0;
    padding: 20px;
}

.addBookBtn {
    padding: 10px 20px;

    color: var(--text);
    background: var(--subBackground);
    border: 3px solid var(--accent);
    border-radius: 5px;
    box-shadow: 0 0 8px var(--accent);
}

.addBookBtn:hover {
    cursor: pointer;
    color: var(--background);
    background: var(--accent);
    border-color: var(--subBackground);
}

.addBookBtn:active {
    color: var(--text);
    background: var(--background);
    border-color: var(--text);
}

/* MAIN */
.main {
    height: auto;
    width: 80%;
    margin: 20px 0 0 0;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#bookGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.bookCard {
    padding: 10px;

    color: var(--text);
    font-weight: 600;
    background: var(--subBackground);
    border: 3px solid var(--accent);
    border-radius: 12px;
    box-shadow: 0 0 8px var(--accent);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
